.jumbotron {
    padding-top: 6rem;
    background-image: url("sean-pollock-PhYq704ffdA-unsplash.jpg");
    
}
#portofolio {
    background-color: #8bec7f;   
}
.footer {
    background-color: #8bec7f;
}
section {
    padding-top: 5rem;
}
.sertifikat-img {
    width: 100%;
}
#sertifikat .row > * {
    padding: 0;
}